@tailwind base;
@tailwind components;
@tailwind utilities;


button{
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
}
button::before,
button::after{
    position: absolute;
    content: "";
    z-index: -1;
}
button:hover::after{
    width: 100%;
}